/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto;
  max-width: 1200px;
}
nav {
  margin-bottom: 20px;
  background-color: azure;
  padding: 10px;
}
nav a{

  font-size: 20px;
  color: green;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
}
nav a:hover{
  text-decoration: underline;
  cursor: pointer;
}
ul li a{
  background-color: aqua;

}
